<div class="calculator">
	<div class="display">
		<div class="display__equation"></div>
		<div class="display__main"></div>
	</div>
	<div class="keypad">
		<div class="key key__operator key--percent"><span class="key__text">%</span></div>
		<div class="key key__operator key--sign"><span class="key__text">+ / -</span></div>
		<div class="key key__operator key--cancel"><span class="key__text">C</span></div>
		<div class="key key__operator key--division"><span class="key__text">/</span></div>
		<div class="key key__number key--seven"><span class="key__text">7</span></div>
		<div class="key key__number key--eight"><span class="key__text">8</span></div>
		<div class="key key__number key--nine"><span class="key__text">9</span></div>
		<div class="key key__operator key--multiplication"><span class="key__text">x</span></div>
		<div class="key key__number key--four"><span class="key__text">4</span></div>
		<div class="key key__number key--five"><span class="key__text">5</span></div>
		<div class="key key__number key--six"><span class="key__text">6</span></div>
		<div class="key key__operator key--minus"><span class="key__text">-</span></div>
		<div class="key key__number key--one"><span class="key__text">1</span></div>
		<div class="key key__number key--two"><span class="key__text">2</span></div>
		<div class="key key__number key--three"><span class="key__text">3</span></div>
		<div class="key key__operator key--plus"><span class="key__text">+</span></div>
		<div class="key key__number key--zero"><span class="key__text">0</span></div>
		<div class="key key__operator key--comma"><span class="key__text">,</span></div>
		<div class="key key__operator key--equal"><span class="key__text">=</span></div>
	</div>
</div>