<div class="calculator">
	<div class="calculator__display">
		<div class="calculator__display--equation"></div>
		<div class="calculator__display--main"></div>
	</div>
	<div class="calculator__keypad">
		<div class="keypad keypad--percent">%</div>
		<div class="keypad keypad--sign">+/-</div>
		<div class="keypad keypad--cancel">C</div>
		<div class="keypad keypad--division">/</div>
		<div class="keypad keypad--seven">7</div>
		<div class="keypad keypad--eight">8</div>
		<div class="keypad keypad--nine">9</div>
		<div class="keypad keypad--multiplication">x</div>
		<div class="keypad keypad--four">4</div>
		<div class="keypad keypad--five">5</div>
		<div class="keypad keypad--six">6</div>
		<div class="keypad keypad--minus">-</div>
		<div class="keypad keypad--one">1</div>
		<div class="keypad keypad--two">2</div>
		<div class="keypad keypad--three">3</div>
		<div class="keypad keypad--plus">+</div>
		<div class="keypad keypad--zero">0</div>
		<div class="keypad keypad--comma">,</div>
		<div class="keypad keypad--equal">=</div>
	</div>
</div>