<div class="container">
	<div class="calculator">
		<div class="display">
			<div class="display__equation">{{ history || 0 }}</div>
			<div class="display__main">{{ currentValue || 0 }}</div>
		</div>
		<div class="keypad">
			<div class="key key__operator key--percent" (click)="percent()"><span class="key__text">%</span></div>
			<div class="key key__operator key--sign" (click)="sign()"><span class="key__text">+ / -</span></div>
			<div class="key key__operator key--cancel" (click)="cancel()"><span class="key__text">C</span></div>
			<div class="key key__operator key--divide" (click)="divide()"><span class="key__text">/</span></div>
			<div class="key key__number key--seven" (click)="append('7')"><span class="key__text">7</span></div>
			<div class="key key__number key--eight" (click)="append('8')"><span class="key__text">8</span></div>
			<div class="key key__number key--nine" (click)="append('9')"><span class="key__text">9</span></div>
			<div class="key key__operator key--multiply" (click)="multiply()"><span class="key__text">x</span></div>
			<div class="key key__number key--four" (click)="append('4')"><span class="key__text">4</span></div>
			<div class="key key__number key--five" (click)="append('5')"><span class="key__text">5</span></div>
			<div class="key key__number key--six" (click)="append('6')"><span class="key__text">6</span></div>
			<div class="key key__operator key--minus" (click)="minus()"><span class="key__text">-</span></div>
			<div class="key key__number key--one" (click)="append('1')"><span class="key__text">1</span></div>
			<div class="key key__number key--two" (click)="append('2')"><span class="key__text">2</span></div>
			<div class="key key__number key--three" (click)="append('3')"><span class="key__text">3</span></div>
			<div class="key key__operator key--plus" (click)="plus()"><span class="key__text">+</span></div>
			<div class="key key__number key--zero" (click)="zero()"><span class="key__text">0</span></div>
			<div class="key key__operator key--comma" (click)="comma()"><span class="key__text">,</span></div>
			<div class="key key__operator key--calculate" (click)="calculate()"><span class="key__text">=</span></div>
		</div>
	</div>
</div>