$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$font-light: 300;
$font-regular: 400;

$color-white: #ffffff;
$color-blue-1: #9156E1;
$color-blue-2: #8D52DD;
$color-blue-3: #894ED9;
$color-blue-4: #8547D9;
$color-green: #63cd94;
$color-gray-1: #d4d4d4;
$color-gray-2: #e0e0e0;
$color-gray-3: #ededed;
$color-gray-4: #F7F7F7;
$color-pink: #d98192;
$color-red: #E62F89;
$color-purple: rgb(131,58,180);
$color-purple-gradient: linear-gradient(to right bottom, #9b5cd6, #c55abb, #da63a3, #e37391, #e28687);
$color-dark: #212121;
$color-black: #000000;
$color-gray-gradient: linear-gradient(to bottom right, #ededed, #fafafa);